<h1>
	<a href="/">Admin Panel</a>
</h1>

<nav>
	<ul>
		<li><a href="">Breakfast</a></li>
		<li><a href="">Main Course</a></li>
		<li><a href=""></a>Dessert</li>
		<li><a href=""></a>Salads</li>
	</ul>
</nav>