<header>
	<a href="" class="Logo"> THE ORCHID BISTRO</a>

	<nav>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="">Menu</a>
		</li>
		<li>
			<a href="">Plants</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<li>
			<a href="">Contact Us</a>
		</li>
	</nav>
</header>